@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Tangerine:700&display=swap');

html{
  font-size: 20px;
  font-family: 'Cutive Mono', monospace;
  background-color: #ffc06e;
}
header > h1{
  text-align: center;
  font-size: 3.5rem;
  background-color: rgba(91, 131, 58);
  margin-bottom:0;
}

h1,h2{
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: .5rem;
  padding-top: .5rem;
}

h2{
  font-size: 2.5rem;
  margin-bottom: 0;
}

div{
    max-width: 50rem;
    margin: 0 auto;
}

ul,ol{
  margin-top: 0;
  margin-bottom: 0;
}

img{

  border: 1px #000 solid;
  display: block;
  margin-top: 5rem;
}
main{
  display:grid;
  grid-template-columns: 2fr;

}
main > section{
  grid-row: 2;
  margin-left: 2rem;
  margin-right: 2rem;

}
section:first-child{
  grid-row: 1 / span 2;
}

section:nth-child(2) {
  grid-row: 1;
  margin-left: 2rem;
  margin-right: 2rem;
}

section:last-child {
  grid-row:2;
  margin-left: 2rem;
  margin-right: 2rem;
}

section:nth-child(2)>p{
  margin-bottom: 0;
}

footer{
  padding: 1.5rem;
  padding-top: .5rem;
  padding-bottom: 0;
}

footer,section:first-child>p{
  font-size: .65rem;
  text-align: right;
}
section:first-child >p:last-child{
  border: 1px #000 solid;
  padding: .5rem;
  background-color: rgb(91, 131, 58);
  color: #fff;
}

a:visited{
  color: rgb(56, 92, 21);
}
a:linked{
  color: rgb(91, 131, 58);
}
